! Font
xmenu.font:                     Fira Code:size=10:style=Bold

! Colors come from ~/.config/kitty/kitty-themes/themes/Medallion.conf

xmenu.background:               #1D1808
xmenu.foreground:               #C9C199
xmenu.activeBackground:         #7C8A16
xmenu.selbackground:            #7C8A16
xmenu.selforeground:            #C9C199
xmenu.separatorColor:           #808080
xmenu.borderColor:              #7C8A16
xmenu.borderWidth:              1

! 3D/Motif-like relief
xmenu.shadowThickness:          1
xmenu.topShadowColor:           #FFFFFF
xmenu.bottomShadowColor:        #808080
xmenu.middleShadowColor:        #D4D0C8

! Menu alignment
xmenu.alignment:                right

! Enable torn off menus
xmenu.tearOff:                  On

! Transparency
! This is actually handled by compton in .config/compton.conf
xmenu.opacity:                  1.0

! Useless gaps, in pixels
xmenu.gap:                      3

xterm*Background:               #1D1808
xterm*Foreground:               #C9C199
