; For clojure autoformatting.
; https://cljdoc.org/d/zprint/zprint/1.1.2/doc/zprint-reference
{:style   [:hiccup :justified]
 :map     {:comma?    false
           :indent    0}
 :binding {:force-nl? true
           ; This is important for parinfer compatability
           :indent 0}
 ; See
 ; https://github.com/kkinnear/zprint/blob/d0bb27e51ac97b1cdae5ea32b9b953f66cd650b2/src/zprint/config.cljc#L320
 ; for the default :fn-map
 :fn-map  {; This :indent setting is required to play nicely with parinfer - it
           ; forces 1 space indent if the first element of a list is a list
           ; (otherwise the other elements will get sucked into it) See
           ; https://github.com/kkinnear/zprint/issues/299#issuecomment-1583065561
           :list          [:none {:list {:indent 1}}]
           "swap!"        :arg1
           ; re-frame specific formatting
           "reg-event-db" :force-nl-body
           "reg-event-fx" :force-nl-body
           "reg-sub"      :force-nl-body}}
