;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{
  ;; Paths
  ;;   Directories in the current project to include in the classpath

  ;; :paths ["src"]

  ;; External dependencies
 
  :aliases {
            ; See https://clojurians.slack.com/archives/C6N245JGG/p1676923660003989?thread_ts=1676846114.239759&cid=C6N245JGG
            :tools
            {:extra-deps {hashp/hashp {:mvn/version "0.2.2"}
                          cljfmt/cljfmt {:mvn/version "0.9.2"}}}
            :cider
            {:extra-deps {cider/cider-nrepl {:mvn/version "RELEASE"}}
             :main-opts ["-m" "nrepl.cmdline"
                         "--middleware" "[cider.nrepl/cider-middleware]"]}}}
  

  ;; Provider attributes

  ;; :mvn/repos {
  ;;   "central" {:url "https://repo1.maven.org/maven2/"}
  ;;   "clojars" {:url "https://repo.clojars.org/"}
  ;; }

